/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 300px;
    background-color: rgba(42, 101, 65, 0.8);
    color: #f1f1f1;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: 20px;
    margin-top: -20px;
}
#myPopup h1 {
	font-weight: 400;
	font-size: 32px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    right: 100%;
    margin-left: -5px;
    border-width: 8px;
    border-style: solid;
    border-color:transparent transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    margin-top: -20px;
}

/* The actual popup (appears on top) */
.popup_ld .popuptext_ld {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: 460px;
    margin-top: -100px;
}
#myPopup_ld h1 {
	font-weight: 400;
	font-size: 32px;
}

/* Popup arrow */
.popup_ld .popuptext_ld::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 77%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: /*#555*/ transparent transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup_ld .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    margin-top: -200px;
}


#bg-ques-vid {
	height: 90vh;
	text-align: center;
	background-image: url("img/video-ques.gif");
	background-repeat: no-repeat;
	background-size: cover;
	overflow: overlay;
	
}

#ban-error {
	display: none;
}

#head-logo {
	width:50%;
	margin:0 auto;
}

#image_id {
	max-height: 270px; 
	margin-right: auto;
	margin-left: auto; 
	margin-top: 0px;
	border-radius: 5px;
}

#ques {
	width: 72.5%; 
	margin-top: -6%;
	margin-left: auto; 
	margin-right: auto;
	margin-bottom: auto;
	align-content:center;
}
#ques-loader {
	display: none;
	margin-right: auto;
	margin-left: auto; 
	margin-top: 10px;
}

#scorehint {
	font-size:x-large;
	position: absolute;
	right: 50px;
	top: 48px;
	color: white;
}

#answerForm {
	margin-right: auto;
	margin-left: auto;
}

#enigma_logo {
	max-height:140px; 
	margin-top: -10px;
}

#mySidenav {
	z-index: 200; 
	width: 0px;
	background-color:rgba(47,45,45,0.3);
}

#trophy-span {
	font-size:30px;
	cursor:pointer; 
	position: absolute; 
	right: 40px; 
	bottom: 50px;"
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: rgba(47,45,45,0.4);
    margin: 2% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid rgba(47,45,45,0.4);
    width: 80%; /* Could be more or less, depending on screen size */
     -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.login {
  
  background-color: rgba(34, 131, 5, 0.88);;
  
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  max-width: 500px;
  
  padding: 24px;
  position: relative;
  width: 80%;
 	z-index: 100;
}
#ban-div {
	display: inline-block; 
	width: 50%; 
	background-color: #9a2424; 
	border-color: #9a2424; 
	color: #f3f3f3;
}

#modal_message {
	margin-top: 7%;
}

#modal_message h3 {
	margin: 0 0;
}


@media (min-width: 1400px) {
	#ques {
		width: 100%;
	}
}

@media (max-width: 950px) {
	#head-logo {
		width: inherit;
		margin-top: 20px;
		max-height: 10%;
	}

	#ques {
	     /*margin-top: 60px;*/
	     width: inherit;
    }

     #ques-loader {
    	max-width: 30%;
    	margin-top: 40%;
    }


    #image_id {
    	margin-top: 10px;
    	width: 90%;
    }

    #ban-div {
    	width: 100%;
    }

    /*#trophy {
	    width: 60%;
	    height: 60%;
	}*/

	#enigma_logo {
		max-height: 100px;
	}

	#answerForm {
		margin-top: -40px;
	}

	#scorehint {
		font-size: large;
		right: 30px;
	}

	#ans-input {
		width: 90%
	}

	#modal_message {
		padding: 5px;
	}

	#modal_message h3 {
		font-size: large;
	}

	.popup_ld .popuptext_ld {
	    margin-left: -13%;
	}

	.popup_ld .show {
	    margin-top: -57%;
	}

	/* The actual popup (appears on top) */
	.popup .popuptext {
		width: 250px;
	    z-index: 1;
	    left: 50%;
	    margin-left: -150px;
	}
	.popup .popuptext::after {
	    content: "";
	    position: absolute;
	    bottom: 100%;
	    left: 50%;
	    margin-left: -5px;
	    border-width: 8px;
	    border-style: solid;
	    border-color:transparent transparent /*rgba(53, 175, 102, 0.5)*/ transparent transparent;
	}

	.popup .show {
	    visibility: visible;
	    -webkit-animation: fadeIn 1s;
	    animation: fadeIn 1s;
	    margin-top: 15px;
	}

	.sidenav a {
		font-size: large;
	}

	.sidenav div br {
		display: none;
	}

	#mySidenav {
		background-color: rgba(47,45,45,0.5);
	}

	#trophy-span {
		display: none;
	}
}