
.visible{
	visibility: visible !important;
}

.rotateCubeTopOut {
	transform-origin: 50% 100%;
	-webkit-transform-origin: 50% 100%;
	animation: rotateCubeTopOut .6s both ease-in;
	-webkit-animation: rotateCubeTopOut .6s both ease-in;
}

.rotateCubeTopIn {
	transform-origin: 50% 0%;
	-webkit-transform-origin: 50% 0%;
	animation: rotateCubeTopIn .6s both ease-in;
	-webkit-animation: rotateCubeTopIn .6s both ease-in;
}

.rotateCubeBottomOut {
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	-webkit-animation: rotateCubeBottomOut .6s both ease-in;
	animation: rotateCubeBottomOut .6s both ease-in;
}

.rotateCubeBottomIn {
	transform-origin: 50% 100%;
	-webkit-transform-origin: 50% 100%;
	-webkit-animation: rotateCubeBottomIn .6s both ease-in;
	animation: rotateCubeBottomIn .6s both ease-in;
}

@keyframes rotateCubeTopOut {
	50% {
		animation-timing-function: ease-out;
		transform: translateX(-50%) translateZ(-200px) rotateY(45deg);  //X and Y interchange
	}

	100% {
		opacity: .3;
		transform: translateX(-100%) rotateY(90deg);	 //X and Y interchange
	}
	
}

@-webkit-keyframes rotateCubeTopOut {
	50% {
		-webkit-animation-timing-function: ease-out;
		-webkit-transform: translateX(-50%) translateZ(-200px) rotateY(45deg); //X and Y interchange
	}

	100% {
		opacity: .3;
		-webkit-transform: translateX(-100%) rotateY(90deg);	 //X and Y interchange
	}
	
}

@keyframes rotateCubeTopIn {
	0% {
		opacity: .3;
		transform: translateX(100%) rotateY(-90deg);
	} //X and Y interchange

	50% {
		animation-timing-function: ease-out;
		transform: translateX(50%) translateZ(-200px) rotateY(-45deg); //X and Y interchange
	}
}

@-webkit-keyframes rotateCubeTopIn {
	0% {
		opacity: .3;
		-webkit-transform: translateX(100%) rotateY(-90deg); //X and Y interchange
	}

	50% {
		-webkit-animation-timing-function: ease-out;
		-webkit-transform: translateX(50%) translateZ(-200px) rotateY(-45deg); //X and Y interchange
	}
}

@keyframes rotateCubeBottomOut {
	50% {
		animation-timing-function: ease-out;
		transform: translateY(50%) translateZ(-200px) rotateX(-45deg);
	}

	100% {
		opacity: .3;
		transform: translateY(100%) rotateX(-90deg);
	}
}

@-webkit-keyframes rotateCubeBottomOut {
	50% {
		-webkit-animation-timing-function: ease-out;
		-webkit-transform: translateY(50%) translateZ(-200px) rotateX(-45deg);
	}

	100% {
		opacity: .3;
		-webkit-transform: translateY(100%) rotateX(-90deg);
	}
}

@keyframes rotateCubeBottomIn {
	0% {
		opacity: .3;
		transform: translateY(-100%) rotateX(90deg);
	}

	50% {
		animation-timing-function: ease-out;
		transform: translateY(-50%) translateZ(-200px) rotateX(45deg);
	}
}
@-webkit-keyframes rotateCubeBottomIn {
	0% {
		opacity: .3;
		-webkit-transform: translateY(-100%) rotateX(90deg);
	}

	50% {
		-webkit-animation-timing-function: ease-out;
		-webkit-transform: translateY(-50%) translateZ(-200px) rotateX(45deg);
	}
}
