/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 300px;
    background-color: rgba(42, 101, 65, 0.8);
    color: #f1f1f1;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: 20px;
    margin-top: -20px;
}
#myPopup h1 {
	font-weight: 400;
	font-size: 32px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    right: 100%;
    margin-left: -5px;
    border-width: 8px;
    border-style: solid;
    border-color:transparent transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    margin-top: -20px;
}

/* The actual popup (appears on top) */
.popup_ld .popuptext_ld {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: 460px;
    margin-top: -100px;
}
#myPopup_ld h1 {
	font-weight: 400;
	font-size: 32px;
}

/* Popup arrow */
.popup_ld .popuptext_ld::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 77%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: /*#555*/ transparent transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup_ld .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    margin-top: -200px;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

@-webkit-keyframes bgfade {
    from {background-color: black;} 
    to {background-color: white;}
}

@keyframes bgfade {
    from {background-color: black;}
    to {background-color:white;}
}

@-webkit-keyframes fgfade {
    from {background-color: rgb(103, 98, 98);} 
    to {background-color: black;}
}

@keyframes fgfade {
    from {background-color: rgb(103, 98, 98);}
    to {background-color:black ;}
}

#bg-ques-vid {
	
}
#bg-ques-vid {
	height: 90vh;
	text-align: center;
	background-image: url('images/video-ques.gif');
	background-repeat: no-repeat;
	background-size: cover;
	overflow: overlay;
	animation: bgfade;
	animation-duration: 5s;
}

#head-logo {
	width:50%;
	margin:0 auto;
}

#ques {
	width: 72.5%; 
	margin-left: auto; 
	margin-right: auto;
	margin-bottom: auto;
	align-content:center;
}

#ques img {
	margin-right: auto;
	margin-left: auto; 
	margin-top: 40px;
}
#scorehint {
	font-size:x-large;
	position: absolute;
	right: 50px;
	top: 48px;
	color: white;
}

#answerForm {
	margin-right: auto;
	margin-left: auto;
}

#enigma_logo {
	max-height:140px; 
	margin-top: -10px;
}

#mySidenav {
	z-index: 200; 
	width: 0px;
	background-color:rgba(47,45,45,0.3);
}

#trophy-span {
	font-size:30px;
	cursor:pointer; 
	position: absolute; 
	right: 20px; 
	bottom: 20px;"
}

#ques-loader {
	display: none;
}

@media (min-width: 1400px) {
	#ques {
		width: 100%;
	}
}

@media (max-width: 950px) {
	#head-logo {
		width: inherit;
		margin-top: 20px;
		max-height: 10%;
	}

	#ques {
	     /*margin-top: 60px;*/
	     width: inherit;
    }

    #ques img {
    	margin-top: 10px;
    }

    /*#trophy {
	    width: 60%;
	    height: 60%;
	}*/

	#enigma_logo {
		max-height: 100px;
	}

	#answerForm {
		margin-top: -40px;
	}

	#scorehint {
		font-size: large;
		right: 30px;
	}

	#ans-input {
		width: 90%
	}

	.popup_ld .popuptext_ld {
	    margin-left: -13%;
	}

	.popup_ld .show {
	    margin-top: -57%;
	}

	/* The actual popup (appears on top) */
	.popup .popuptext {
		width: 250px;
	    z-index: 1;
	    left: 50%;
	    margin-left: -170px;
	}
	.popup .popuptext::after {
	    content: "";
	    position: absolute;
	    bottom: 100%;
	    left: 50%;
	    margin-left: -5px;
	    border-width: 8px;
	    border-style: solid;
	    border-color:transparent transparent /*rgba(53, 175, 102, 0.5)*/ transparent transparent;
	}

	.popup .show {
	    visibility: visible;
	    -webkit-animation: fadeIn 1s;
	    animation: fadeIn 1s;
	    margin-top: -116px;
	}

	.sidenav a {
		font-size: large;
	}

	.sidenav div br {
		display: none;
	}

	#mySidenav {
		background-color: rgba(47,45,45,0.5);
	}

	#trophy-span {
		display: none;
	}
}