/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 300px;
    background-color: rgba(53, 175, 102, 0.5);
    color: #f1f1f1;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -170px;
}
#myPopup h1 {
	font-weight: 400;
	font-size: 32px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 8px;
    border-style: solid;
    border-color:transparent transparent rgba(53, 175, 102, 0.5) transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    margin-top: 25px;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

#bg-ques-vid {
	height: 90vh;
	text-align: center;
	background-image: url('images/video-ques.gif');
	background-repeat: no-repeat;
	background-size: cover;
	overflow: overlay;
}

#head-logo {
	width:50%;
	margin:0 auto;
}

#ques {
	width: 72.5%; 
	margin-left: auto; 
	margin-right: auto;
	align-content:center;
}

@media (max-width: 950px) {
	#head-logo {
		width: inherit;
		margin-top: 20px;
	}

	#ques {
	     /*margin-top: 60px;*/
	     width: inherit;
    }


    /*#trophy {
	    width: 60%;
	    height: 60%;
	}*/

	#ans-input {
		width: 90%
	}
}